.feed {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  /* text-align: center; */
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

.feed h2 {
  color: #444;
  text-align: center;
}

.feed p {
  text-align: center;
  color: #444;
  font-size: 0.8em;
}
