.card {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  /* text-align: center; */
  /* background-color: white; */
  background-color: #282c34;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0.2px 0.2px 3px white;
}

.card h2 {
  /* color: #444; */
  text-align: center;
}

.card p {
  text-align: center;
  /* color: #444; */
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .card {
    margin: 0.7rem auto;
    width: 70%;
    font-size: 1rem;
  }
}
